<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
	<appSettings>
		  <add key="LMSDB" value="SP_TrainingClone"/>
    <add key="EmployeeDB" value="SinglePoint"/>
    <add key="CloudDB" value="SinglePoint_Cloud"/>
		<add key="SQLConn" value="server=(localdb)\mssqllocaldb;database=[DBNAME];integrated security=true;"/>
		
		<add key="onPrem" value="1"/>
		<add key="Service_SleepInterval" value="10"/>
		<add key="RunLMS" value="1"/>
		<add key="SinglePoint" value="Learning Management System"/>

		<add key="MailDomain" value="waqas.afzaal@ghost-digital.com;m.omer@ghost-digital.com;"/>
		<add key="ApplicationEmails" value="omer_790@yahoo.com;dotgreen.yellow@gmail.com"/>
	</appSettings>
</configuration>
